/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .mhsan .table{
    width: 95%;
    border-spacing: 0px;
    border: solid 1px #666;
  }
  .mhsan .table th, td{
    padding: 4px;
    text-align: center;
  }
  .mhsan .row{
    clear: both;
    overflow: hidden;
    width: 100%;
  }
  .mhsan .col-6{
    float: left;
    width: 48%;
    padding: 5px 1%;
  }
  .mhsan span.title{
    display: inline-block;
    font-weight: bold;
    width: 150px;
  }